In [1]:
import matplotlib.pyplot as plt
import matplotlib.dates
import tensorflow as tf
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
from tensorflow.keras.backend import square, mean

In [2]:
df = pd.read_csv("/home/jose/Programming/aiml/Data/houston-AQI-weather/filled-in-data/Oyster Creek C1607.csv")
df['Date'] = pd.to_datetime(df['Date'])
del df['Unnamed: 0']

df.tail()

,Date,AQI,air_temp,dew_point_temp,sea_level_pressure,visibility,wind_speed
1515,2021-02-24,39,20.0,16.0,1018.0,10000.0,4.3750
1516,2021-02-25,30,20.0,17.0,1019.0,9000.0,5.0000
1517,2021-02-26,27,21.0,18.0,1014.0,10000.0,5.3125
1518,2021-02-27,29,22.0,19.0,1013.0,10000.0,5.9375
1519,2021-02-28,29,23.0,19.0,1013.0,10000.0,5.0000

In [3]:
df['Day'] = df.Date.dt.dayofyear
df['Year'] = df.Date.dt.year - 2017
df.index = df.Date

In [4]:
### DELETE all the other features, for now
del df['Date']
del df['air_temp']
del df['dew_point_temp']
del df['sea_level_pressure']
del df['visibility']
del df['wind_speed']

df.tail()

            AQI  Day  Year
Date
2021-02-24   39   55     4
2021-02-25   30   56     4
2021-02-26   27   57     4
2021-02-27   29   58     4
2021-02-28   29   59     4