In [1]:
import matplotlib.pyplot as plt
import matplotlib.dates
import tensorflow as tf
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, GRU, Embedding
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
from tensorflow.keras.backend import square, mean

In [2]:
df = pd.read_csv("/home/jose/Programming/aiml/Data/houston-AQI-weather/filled-in-data/Oyster Creek C1607.csv", index_col='Date')
del df['Unnamed: 0']

df.head(5)

,AQI,air_temp,dew_point_temp,sea_level_pressure,visibility,wind_speed
Date,,,,,,
2017-01-01,31,20.121739,17.578261,1011.065217,13311.826087,2.618182
2017-01-02,39,22.243478,17.991304,1010.547826,13714.173913,4.960000
2017-01-03,45,17.178261,10.843478,1014.776190,11859.869565,2.457143
2017-01-04,16,11.856522,5.769565,1018.547826,16093.000000,4.136364
2017-01-05,11,12.904348,9.900000,1013.213043,14833.652174,3.000000